.catygory-name-custom {
    /*background-color: #eee;*/
    color: #444;
    cursor: pointer;
    padding: 500px;
    text-align: center;
    /*border: groove;*/
    height: auto !important;
    font-family:italic;
    font-size: xx-large;
    margin-top: 35px;
    font-weight: bold;
}
